# Python
__pycache__/
*.py[cod]
*.so

# Virtual env
venv/
env/
.venv/

# Python packaging
build/
dist/
*.egg-info/

# Editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env / secrets
.env
credentials.json
token.json

# Logs
*.log

# Mac
*.DS_Store
